* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #ffffff;
    color: #7b7878; 
    
}

body.dark-mode #header {
    background-image: url(shri4\ -\ Copy\ \(2\).png); /* Specify the dark mode image */
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(shri4.png);
    background-size: cover;
    background-position: center;
}

.haspc{
color: #ffffff;
}

body.dark-mode .haspc {
    color: #000000;
}

.containt {
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.hover-effect-fun {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
    border-radius: 5px;
    transition: transform 2s, color 4s; /* Smooth transition effect */
  }
  
  .hover-effect-fun:hover {
    transform: rotate(360deg); /* Rotate text */
    color: #ff004f; /* Change text color */
  }
  


html {
    scroll-behavior: smooth;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    
}
.logo.dark {
    width: 150px;
}


nav ul li {
    display:inline-block;
    list-style: none;
    margin: 30px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration:none;
    font-size: 20px;
    position:relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition-duration: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    font-size: 27px;
    margin-top: 6%;
    margin-right: 30%;
}

#small{
    margin-right: 60%;
    font-size: 20px;
}
.header-text h1 span {
    color: #ff004f;
}

span{
    color: #ff004f;
}

/*--------------About---------------*/

#about {
    padding: 100px 0;
    color: #9f9c9c;
}


body.dark-mode #about {
    padding: 100px 0;
    color: #2d2d2d;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 40px;
    font-width: 600;
    color: #ff004f;
}

.hov {
    color: #ff004f; /* Default text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */
}

.hov:hover {
    background-color: #ff004f; /* New background color on hover */
    color: #ffffff; /* New text color on hover */
}

.hover-effect {
    padding: 10px 20px;
    border: 1px solid #313030; /* Default border */
    border-radius: 0px;
    display:table-cell;
    transition: border-color 0.5s; /* Smooth transition effect */
}
  
.hover-effect:hover {
  border-color: #ff004f; /* New border color on hover */
  animation: border-pulse 85s ; /* Border pulse animation */
}
  
@keyframes border-pulse {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 2px;
  }
}
  
  

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition-duration: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 16px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*-----------------services-------------------*/
#services {
    padding: 30px 0;

}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #6361616c;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 30px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #c40000;
    transform: translateY(-10px);
}

/*-------------Portfolio----------------*/
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 80%;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    border: 1px outset  #ff004f;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ff004f;
    transition: background 0.5s;
}

.btn:hover {
    background: #ffffff;
}

/*------------Contact---------*/
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 15px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #000000;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.hover-over {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #2b292a, #dcd2d2);
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    transition: background 2s, transform 1s; /* Smooth transition effect */
  }
  
  .hover-over:hover {
    background: linear-gradient(45deg, #6b6b6b, #ff004f); /* Gradient background on hover */
    transform: scale(1.1); /* Scale up slightly */
  }
  
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/*----------------


/* Ensure the video fills the viewport */
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Make sure the video is behind other content */
    background: url('path/to/your/fallback-image.jpg') no-repeat;
    background-size: cover;
}

/* Style for the content on top of the video */
